<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Banks' Manager Welcome</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />

<script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
	<div class="container">
		<h2>
			Welcome to <span th:text="${bank.name}">Name</span> client manager
		</h2>
		<br/>
		<br/>
		<h3>Clients</h3>
		<div class ="row col-md-6">
	 		<table class="table table-striped ">
				<thead>
					<tr>
						<th>Id</th>
						<th>Name</th>
						<th>Accounts</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="client: ${bank.clients}">
						<td th:text="${client.id}">id</td>
	 					<td th:text="${client.name}">name</td>
	 					<td><a th:href="@{/banks/{code}/clients/{id}/accounts(code=${bank.code}); id = ${client.id}}">Accounts</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>