<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Banks' Manager Welcome</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />

<script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
	<div class="container">
		<h2>
			Welcome to <span th:text="${bank.name}">Name</span> operation viewer
		</h2>
		<br/>
		<h3>Operations</h3>
 		<table class="table table-striped">
			<thead>
				<tr>
					<th>Reference</th>
					<th>Type</th>
					<th>Account</th>
					<th>Value</th>
					<th>Time</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="operation: ${bank.operations}">
					<td th:text="${operation.Reference}">Reference</td>
					<td th:text="${operation.Type}">Type</td>
					<td th:text="${operation.Account}">Account</td>
					<td th:text="${operation.Value}">Value</td>
 					<td th:text="${operation.Time}">Time</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>